<div class="my-contacts">
  <h2>Meus contatos</h2>
  <a class="button outlined new-contact" id="btn-new-contact">
    <img src="/images/plus.svg" alt="Sair" />
    Novo Contato
  </a>
</div>

<% if(contacts.length === 0){ %>
<!-- No Contacts -->
<%- include('no-contacts'); %>
<!-- No Contacts -->
<% }; %>

<!-- Content -->
<% contacts.forEach(contact => { %>
<div class="question-wrapper">
  <div class="question-content">
    <div class="user">
      <img src="/images/user.svg" alt="Avatar" />
    </div>
    <div class="question">
      <p><%= contact.contact_name %></p>
      <p><%= contact.contact_phone %></p>
      <p><%= contact.contact_email %></p>
    </div>
  </div>
  <div class="actions">
    <a href="#" class="edit-contact" data-id="<%= contact._id %>">
      <img src="/images/pencil.svg" alt="Mark as read" />
      Editar
    </a>
    <a href="#" class="delete-contact" data-id="<%= contact._id %>">
      <img src="/images/trash.svg" alt="Delete" />
      Excluir
    </a>
  </div>
</div>
<% }); %>

<!-- MODAL (Add Contact) -->
<%- include(`modal-add.ejs`); %>
<!-- MODAL (Add Contact) -->

<!-- MODAL (Delete Contact) -->
<%- include(`modal-delete.ejs`); %>
<!-- MODAL (Delete Contact) -->
